<!DOCTYPE html>
<html>
<head>
	<title>Resultados</title>
</head>
<body>
	<div id="container">
		<% @answers.each do |a|%>
			<p>Avaliador: <%= User.find(a.userLogged).email %> </p>
			<p>Avaliou: <%= a.user.email%>
			<p>Na dimensão: <%= a.dimension.name%>, e na pergunta <%=a.question.question%></p>
			<p>Avaliou às: <%= a.created_at%>, Atualizou às <%= a.updated_at%></p>
			<br>	
		<%end%>
	</div>
</body>
</html>