<div id="wrapper-form">
  <% perfomance.dimensions.each do |dimension| %>
    <div class="wrapper-dimension">
      <h1><%= dimension.name %></h1>
      <p><%= dimension.description %></p>
      <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Pergunta</th>
          <% arrUserEvaluated.each do |user| %>
            <th><%= user.email %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% dimension.questions.each do |question| %>
            <tr>
              <td><%= question.question %></td>
              <% arrUserEvaluated.each do |user| %>
                <td>
                  <% nameCheckbox = "cb_#{dimension.id}_#{question.id}_#{user.id}" %>
                  <% 5.times do |i| %>
                    <% i = i+1%>
                    <input class="answer" type="radio" name="<%= nameCheckbox%>" data-user-id="<%= user.id %>" data-dimension-id="<%= dimension.id %>" data-question-id="<%= question.id %>" value="<%= i%>"/> <%= i%>
                  <%end %>
                  <% i = 6%>
                  <input class="answer" type="radio" name="<%= nameCheckbox%>" data-user-id="<%= user.id %>" data-dimension-id="<%= dimension.id %>" data-question-id="<%= question.id %>" value="<%= i%>"/> Não sei avaliar
                </td>
              <% end %>
            </tr>
        <% end %>
        
      </tbody>
      </table>
      <strong>Feedback</strong>
      <% arrUserEvaluated.each do |user| %>
        <p>Escreva o seu feedback sobre o <%= user.email %> na dimensão de <%= dimension.name %></p>
        <textarea></textarea>
        <br/><br/>
      <% end %>
    </div> <!-- /wrapper-dimension -->  
  <% end %>
</div><!-- /wrapper-form -->