<html>
<head>
	<title>Avaliação de Desempenho</title>
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " style="margin-bottom:0" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
				<a class="navbar-brand" href="http://localhost:3000/home">EXTRATO</a>
			</div>
		</nav>
		<nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
      		<ul class="nav" id="main-menu">
        		<li><%= link_to "Home", home_path%></li>
        		</li>
        		<li><%= link_to "Log out", destroy_user_session_path, :method => :delete%></li>
      		</ul>
    	</div>
  		</nav>
	</div>
	<div id="page-wrapper">
    	<div id="page-inner">
      		<div class="row">
        		<div class="col-md-12">
          			<h1 class="page-head-line">Avaliação de Desempenho</h1>
          			<h1 class="page-subhead-line">Vamos fazer de uma maneira legal?</h1>

                <% @answers.each do |answer|%>
                  <%= answer.user_id%>
                <% end %>

                <div id="wrapper-form">
                  <% @perfomance.dimensions.each do |dimension| %>
                    <div class="wrapper-dimension">
                      <h1><%= dimension.name %></h1>
                      <p><%= dimension.description %></p>
                      <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Pergunta</th>
                          <% @arrUserEvaluated.each do |user| %>
                            <th><%= user.email %></th>
                          <% end %>
                        </tr>
                      </thead>
                      <tbody>
                        <% dimension.questions.each do |question| %>
                            <tr>
                              <td><%= question.question %></td>
                                <% @arrUserEvaluated.each do |user| %>
                                  <td>
                                    <% nameCheckbox = "cb_#{user.id}_#{@perfomance.id}_#{dimension.id}_#{question.id}" %>
                                    <% 5.times do |i| %>
                                      <% i = i+1%>
                                      <input class="answer" type="radio" name="<%= nameCheckbox%>" data-user-id="<%= user.id %>" data-perfomance-id="<%= @perfomance.id%>" data-dimension-id="<%= dimension.id %>" data-question-id="<%= question.id %>" value="<%= i%>"/> <%= i%>
                                    <%end %>
                                    <% i = 6%>
                                    <input class="answer" type="radio" name="<%= nameCheckbox%>" data-user-id="<%= user.id %>" data-perfomance-id="<%= @perfomance.id%>" data-dimension-id="<%= dimension.id %>" data-question-id="<%= question.id %>" value="<%= i%>"/> Não sei avaliar
                                  </td>
                                <% end %>
                            </tr>
                        <% end %>
                        
                      </tbody>
                      </table>
                      <strong>Feedback</strong>
                      <% @arrUserEvaluated.each do |user| %>
                        <p>Escreva o seu feedback sobre o <%= user.email %> na dimensão de <%= dimension.name %></p>
                        <% nameTextarea = "tx_#{user.id}_#{@perfomance.id}_#{dimension.id}" %>
                        <textarea class="answer-text" name="<%= nameTextarea %>" data-user-id="<%= user.id %>" data-perfomance-id="<%= @perfomance.id%>" data-dimension-id="<%= dimension.id %>"></textarea>
                        <br/><br/>
                      <% end %>
                    </div> <!-- /wrapper-dimension -->  
                  <% end%>
                </div><!-- /wrapper-form -->




                <!-- 
                <div>
                  <ul class="nav nav-tabs" role="tablist">
                    <% @role.each do |r| %>
                      <% name = r.name.downcase %>
                      <li role="presentation" class="concentro-tab"  data-role-id="<%= r.id%>" data-role-name="<%= name %>"><a href="#<%= name %>" aria-controls="<%= name %>" role="tab" data-toggle="tab"><%= name %></a></li>
                    <% end %>
                  </ul>

                  <div class="tab-content">
                    <% @role.each do |r| %>
                      <% name = r.name.downcase %>
                      <div role="tabpanel" class="tab-pane" id="<%= name %>"><%= name %></div>
                    <% end %>
                  </div>
                </div>
                -->
        		</div>
      		</div>
    	</div>
  	</div>



    <script>
      $(document).ready(function(){
        $('#myTabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });

        $('.concentro-tab').click(function(){
          var RoleId = $(this).attr('data-role-id');
          if(RoleId == undefined || RoleId == ""){
            return false;
          }

          var roleName = $(this).attr('data-role-name');
          if(roleName == undefined || roleName == ""){
            return false;
          }

          ajaxUsuario(RoleId,roleName);

        });



        function ajaxUsuario(RoleId,roleName){

          $.ajax({
            type : 'get',
            url  : '/performance_user',
            dataType : 'html',
            data : {ajaxRoleId : RoleId},
            success :function(data){
              $('#'+roleName).html($.parseHTML(decodeURI(data)));
            }
          });
        }


        $('body').delegate('.answer','click',function(){
          saveAnswer($(this));
        });

        $('body').delegate('.answer-text','blur',function(){
          var value = $(this).val();
          if( value != "" && value != undefined){
            saveAnswer($(this));  
          }
        });

        function saveAnswer(element){
          var userId = element.attr('data-user-id');
          var perfomanceId = element.attr('data-perfomance-id');
          var dimensionId = element.attr('data-dimension-id');
          var questionId = element.attr('data-question-id');

          var value = null;
          var text  = null
          if(element.is('input')){
            value = element.val();
          } else if(element.is('textarea')){
            text = element.val();
          }

          // if((value == "" || value == undefined) && (text == "" || text == undefined) ){
          //   alert('Pedimos desculpas, mas o serviço está indisponível no momento.');
          // }

          //salvando o ajax do usuário
          $.ajax({
            type : 'get',
            url  : '/ajax_perfomance_user_save',
            data : {ajaxUserId: userId, ajaxPerfomanceId: perfomanceId, ajaxDimensionId: dimensionId, ajaxQuestionId: questionId, ajaxValue : value, ajaxText : text},
            success :function(data){
              console.log(data.success);
              console.log(element);
              console.log(element.parent());
              if(data.success){
                  if(value != null){
                    element.parent().addClass('success-ad');  
                  } else {
                    element.addClass('success-ad');
                  }
                  
              } else if(data.error){
                if(value != null){
                    element.parent().addClass('error-ad');  
                  } else {
                    element.addClass('error-ad');
                  }
              }
            }
          });

        }


      });
      

    </script>
</body>
</html>