<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @perfomance.name %>
</p>

<p>
  <strong>Junior companies:</strong>
  <%= @perfomance.junior_companies_id %>
</p>

<p>
  <strong>Federations:</strong>
  <%= @perfomance.federations_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @perfomance.role_id %>
</p>

<%= link_to 'Edit', edit_perfomance_path(@perfomance) %> |
<%= link_to 'Back', perfomances_path %>
