<p id="notice"><%= notice %></p>

<h1>Listing Junior Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Federation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @junior_companies.each do |junior_company| %>
      <tr>
        <td><%= junior_company.name %></td>
        <td><%= junior_company.federation_id %></td>
        <td><%= link_to 'Show', junior_company %></td>
        <td><%= link_to 'Edit', edit_junior_company_path(junior_company) %></td>
        <td><%= link_to 'Destroy', junior_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Junior company', new_junior_company_path %>
