<%= form_for(@indicator_junior_company) do |f| %>
  <% if @indicator_junior_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicator_junior_company.errors.count, "error") %> prohibited this indicator_junior_company from being saved:</h2>

      <ul>
      <% @indicator_junior_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :indicator_id %><br>
    <%= f.number_field :indicator_id %>
  </div>
  <div class="field">
    <%= f.label :junior_company_id %><br>
    <%= f.number_field :junior_company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
