<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :organogram_id %><br>
    <%= f.select :organogram_id, Organogram.all.collect { |a| [ a.federation.name, a.id ] } %>
  </div>

  <div class="field">
    <%= f.label :area_id %><br>
    <!-- <%= f.number_field :area_id %> -->
    <%= collection_select(:role, :area_id, @areas, :id, :name, {:prompt => false })  %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
